<!DOCTYPE html>
<html ng-app="app">
    <head>
    </head>
    <body ng-controller="controller">
    {{num}}<br>
    <button ng-click="getNumber()">Baci kockicu</button>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="script.js"></script>
</html>